.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-contentwrapper {
    width: 520px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
}

.login__logo {
    margin-bottom: 20px;
}

.login__title {
    font-size: 24px;
    line-height: 30px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}

.input-group__label {
    font-size: 16px;
    line-height: 20px;
}

.input-group__annotation {
    font-size: 12px;
    line-height: 20px;
    color: #999999;
}

.input-group__field {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 18px;
    line-height: 30px;
}

.input-group__field:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border-radius: 5px;
}

.input-group__field:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.input-group__field::placeholder {
    font-size: 18px;
    line-height: 30px;
}

.input-group__error {
    font-size: 16px;
    color: #FF6666;
}

.alert {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    padding: 10px;
    border-radius: 5px;
}

.alert_error {
    background: rgba(207, 44, 0, 0.1);;
    color: #CF2C00;
}

.alert__img {
    align-self: center;
}

.alert__title {
    font-size: 18px;
    line-height: 30px;
}

.alert__text {
    font-size: 12px;
    line-height: 20px;
}

.gh-link {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    text-decoration: none;
}

.gh-link:hover {
    color: #0055fb;
}
